# Data Pre-processing

In [1]:
# Load Library
import pandas as pd
import re
import matplotlib.pyplot as plt

In [2]:
# Read Dataset
colnames = ["age", "workclass", "fnlwgt","education", "education-num", "marital-status","occupation","relationship",
            "race","sex","capital-gain","capital-loss",
            "hoursperweek","native-country", "income"]
adult_training= pd.read_table("adult.data.txt", sep = ',', header = 0, names = colnames)
print adult_training.shape
adult_test = pd.read_table("adult.test.txt", sep = ',', header = 0, names=colnames)
print adult_test.shape
adult_org = pd.concat([adult_training, adult_test])

(32560, 15)
(16281, 15)

In [3]:
adult_org.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hoursperweek
count,48841.000000,4.884100e+04,48841.000000,48841.000000,48841.000000,48841.000000
mean,38.643578,1.896664e+05,10.078029,1079.045208,87.504105,40.422391
std,13.710650,1.056039e+05,2.570965,7452.093700,403.008483,12.391571
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175550e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781470e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376460e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

In [4]:
adult_org.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hoursperweek,native-country,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [5]:
adult_org.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hoursperweek       int64
native-country    object
income            object
dtype: object

## Check existing any Null Value in Dataframe

In [6]:
adult_org.isnull().any().any()

False

## Cleaning Data

### WorkClass variable

In [7]:
adult_org['marital-status'].value_counts()

 Married-civ-spouse       22379
 Never-married            16116
 Divorced                  6633
 Separated                 1530
 Widowed                   1518
 Married-spouse-absent      628
 Married-AF-spouse           37
Name: marital-status, dtype: int64

##### Self-emp

In [8]:
#---- WORK CLASS ----
#--- Desc: group work class into four groups: Private, Gov, Self-emp and Other
#---- Group Self-emp
pattern = re.compile(r'^.*Self-emp.*$')
adult_org[adult_org['workclass'].str.match('^.*Self-emp.*$')]
adult_org['workclass']= adult_org['workclass'].str.replace(pattern, 'Self-emp')
adult_org[adult_org['workclass'].str.match(pattern)]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hoursperweek,native-country,income
0,50,Self-emp,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
6,52,Self-emp,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
15,25,Self-emp,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
18,43,Self-emp,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
38,48,Self-emp,265477,Assoc-acdm,12,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
40,53,Self-emp,88506,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
53,47,Self-emp,109832,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,60,United-States,<=50K
67,49,Self-emp,191681,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
71,29,Self-emp,162298,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,70,United-States,>50K
95,48,Self-emp,191277,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,60,United-States,>50K
101,47,Self-emp,149116,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States,<=50K
104,32,Self-emp,317660,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7688,0,40,United-States,>50K
111,56,Self-emp,335605,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,1887,50,Canada,>50K
115,56,Self-emp,303090,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
131,38,Self-emp,120985,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,4386,0,35,United-States,<=50K
135,43,Self-emp,56920,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,60,United-States,<=50K
139,61,Self-emp,66614,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
156,71,Self-emp,494223,Some-college,10,Separated,Sales,Unmarried,Black,Male,0,1816,2,United-States,<=50K
161,44,Self-emp,78374,Masters,14,Divorced,Exec-managerial,Unmarried,Asian-Pac-Islander,Female,0,0,40,United-States,<=50K
163,45,Self-emp,201080,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,>50K
185,41,Self-emp,143129,Bachelors,13,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States,<=50K
198,24,Self-emp,32921,HS-grad,9,Never-married,Sales,Not-in-family,White,Male,0,0,40,United-States,<=50K
207,58,Self-emp,210563,HS-grad,9,Married-civ-spouse,Sales,Wife,White,Female,15024,0,35,United-States,>50K
213,54,Self-emp,125417,7th-8th,4,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
226,66,Self-emp,167687,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,1409,0,50,United-States,<=50K
240,41,Self-emp,196001,HS-grad,9,Married-civ-spouse,Other-service,Wife,White,Female,0,0,20,United-States,<=50K
254,42,Self-emp,303044,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,Asian-Pac-Islander,Male,0,0,40,Cambodia,>50K
264,37,Self-emp,257295,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,75,Thailand,>50K
271,50,Self-emp,30653,Masters,14,Married-civ-spouse,Farming-fishing,Husband,White,Male,2407,0,98,United-States,<=50K
295,37,Self-emp,57424,Bachelors,13,Divorced,Sales,Not-in-family,White,Female,0,0,60,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16023,59,Self-emp,171355,Masters,14,Divorced,Prof-specialty,Unmarried,White,Male,0,0,55,United-States,<=50K.
16029,59,Self-emp,190997,10th,6,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,36,United-States,<=50K.
16034,69,Self-emp,215926,7th-8th,4,Married-civ-spouse,Other-service,Husband,White,Male,0,0,35,United-States,<=50K.
16052,63,Self-emp,175177,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,35,United-States,>50K.
16056,43,Self-emp,174295,11th,7,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States,<=50K.
16061,43,Self-emp,71269,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,>50K.
16063,22,Self-emp,171041,Bachelors,13,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,40,United-States,<=50K.
16064,42,Self-emp,140915,HS-grad,9,Married-civ-spouse,Sales,Husband,Asian-Pac-Islander,Male,0,0,60,South,<=50K.
16066,46,Self-emp,292569,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,7298,0,65,United-States,>50K.
16068,59,Self-emp,177271,Prof-school,15,Married-civ-spouse,Exec-managerial,Husband,White,Male,99999,0,84,United-States,>50K.
16069,58,Self-emp,314482,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K.
16096,47,Self-emp,321851,Assoc-voc,11,Separated,Exec-managerial,Unmarried,White,Female,0,0,40,United-States,<=50K.
16113,39,Self-emp,139703,Some-college,10,Never-married,Prof-specialty,Not-in-family,Black,Female,0,0,48,United-States,>50K.
16130,35,Self-emp,135020,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,Germany,<=50K.
16138,33,Self-emp,348326,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,50,United-States,<=50K.
16159,47,Self-emp,144579,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,90,United-States,<=50K.
16163,55,Self-emp,103948,Assoc-voc,11,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,<=50K.
16196,33,Self-emp,202153,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,2829,0,40,United-States,<=50K.
16198,56,Self-emp,156873,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K.
16200,68,Self-emp,273088,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K.
16201,43,Self-emp,241055,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K.
16218,34,Self-emp,177828,HS-grad,9,Divorced,Sales,Unmarried,White,Male,0,0,50,United-States,>50K.
16220,56,Self-emp,254711,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,20,United-States,<=50K.
16224,50,Self-emp,187830,Bachelors,13,Divorced,Craft-repair,Not-in-family,White,Male,27828,0,16,United-States,>50K.
16226,66,Self-emp,190160,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,20,United-States,<=50K.
16245,51,Self-emp,311631,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,>50K.
16250,49,Self-emp,77132,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,Canada,>50K.
16257,73,Self-emp,159691,Some-college,10,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States,<=50K.
16264,64,Self-emp,136405,HS-grad,9,Widowed,Farming-fishing,Not-in-family,White,Male,0,0,32,United-States,<=50K.
16280,35,Self-emp,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

##### Gov

In [9]:
pattern = re.compile(r'^.*\w-gov.*$')
adult_org[adult_org['workclass'].str.match(pattern)]
adult_org['workclass'] = adult_org['workclass'].str.replace(pattern, 'Government')
adult_org[adult_org['workclass'].str.match('^.*Government*.$')]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hoursperweek,native-country,income
10,30,Government,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
21,35,Government,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
24,56,Government,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
29,23,Government,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K
32,30,Government,59951,Some-college,10,Married-civ-spouse,Adm-clerical,Own-child,White,Male,0,0,40,United-States,<=50K
33,22,Government,311512,Some-college,10,Married-civ-spouse,Other-service,Husband,Black,Male,0,0,15,United-States,<=50K
44,57,Government,337895,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,40,United-States,>50K
47,41,Government,101603,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
52,50,Government,251585,Bachelors,13,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,55,United-States,>50K
78,31,Government,125927,7th-8th,4,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,United-States,<=50K
85,49,Government,268234,HS-grad,9,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
88,43,Government,410867,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States,>50K
93,34,Government,226296,Bachelors,13,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
94,29,Government,115585,Some-college,10,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,50,United-States,<=50K
98,32,Government,249409,HS-grad,9,Never-married,Other-service,Own-child,Black,Male,0,0,40,United-States,<=50K
107,31,Government,189265,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
116,49,Government,197371,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,40,United-States,>50K
122,29,Government,267989,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
134,38,Government,125933,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,Iran,>50K
149,47,Government,186009,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,38,Mexico,<=50K
165,39,Government,235485,Assoc-acdm,12,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,42,United-States,<=50K
166,46,Government,102628,Masters,14,Widowed,Protective-serv,Unmarried,White,Male,0,0,40,United-States,<=50K
168,66,Government,54826,Assoc-voc,11,Widowed,Prof-specialty,Not-in-family,White,Female,0,0,20,United-States,<=50K
170,28,Government,175325,HS-grad,9,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,<=50K
173,28,Government,149624,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
179,44,Government,181344,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,38,United-States,>50K
183,37,Government,29054,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,42,United-States,>50K
188,58,Government,109567,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,1,United-States,>50K
191,41,Government,523910,Bachelors,13,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,40,United-States,<=50K
193,41,Government,130760,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,24,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16078,42,Government,36699,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K.
16087,48,Government,277946,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K.
16092,23,Government,386568,Some-college,10,Separated,Prof-specialty,Not-in-family,White,Female,0,0,20,United-States,<=50K.
16100,47,Government,263215,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,80,United-States,<=50K.
16101,34,Government,207668,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,41,United-States,>50K.
16108,42,Government,131167,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,45,United-States,<=50K.
16109,30,Government,268482,Some-college,10,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K.
16110,34,Government,103642,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,1651,40,United-States,<=50K.
16116,18,Government,427515,HS-grad,9,Never-married,Adm-clerical,Own-child,Black,Female,0,0,20,United-States,<=50K.
16123,55,Government,56915,HS-grad,9,Divorced,Exec-managerial,Unmarried,Amer-Indian-Eskimo,Male,0,0,8,United-States,<=50K.
16134,51,Government,43705,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,54,United-States,>50K.
16137,41,Government,190910,HS-grad,9,Married-civ-spouse,Farming-fishing,Other-relative,White,Male,0,0,40,United-States,<=50K.
16141,56,Government,160383,10th,6,Widowed,Other-service,Not-in-family,White,Female,0,0,37,United-States,<=50K.
16142,39,Government,263690,Masters,14,Married-civ-spouse,Other-service,Husband,Black,Male,3137,0,40,Trinadad&Tobago,<=50K.
16146,23,Government,145112,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Female,0,0,43,United-States,<=50K.
16148,79,Government,132668,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,15,United-States,<=50K.
16152,47,Government,244813,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K.
16174,64,Government,47298,Doctorate,16,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,45,United-States,>50K.
16175,55,Government,258121,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,40,United-States,>50K.
16184,59,Government,354948,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,40,United-States,>50K.
16203,35,Government,304252,Assoc-acdm,12,Divorced,Exec-managerial,Not-in-family,Asian-Pac-Islander,Female,0,0,40,Vietnam,<=50K.
16206,37,Government,178876,HS-grad,9,Married-civ-spouse,Protective-serv,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K.
16211,36,Government,268205,Bachelors,13,Divorced,Prof-specialty,Unmarried,White,Female,0,0,52,United-States,<=50K.
16228,35,Government,297322,Some-college,10,Married-civ-spouse,Transport-moving,Husband,Black,Male,0,0,40,United-States,>50K.
16231,34,Government,408813,HS-grad,9,Married-civ-spouse,Craft-repair,Wife,White,Female,0,0,40,United-States,>50K.
16233,29,Government,170482,HS-grad,9,Married-civ-spouse,Protective-serv,Husband,Black,Male,0,2057,40,United-States,<=50K.
16242,37,Government,238980,Masters,14,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,42,United-States,<=50K.
16255,43,Government,23157,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1902,50,United-States,>50K.
16265,50,Government,139347,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,?,>50K.
16274,48,Government,349230,Masters,14,Divorced,Other-service,Not-in-family,White,Male,0,0,40,United-States,<=50K.

##### Other

In [10]:
pattern = re.compile(r'^((?!Private|Government|Self-emp).)*$')
adult_org[adult_org['workclass'].str.match(pattern)]
adult_org['workclass'] = adult_org['workclass'].str.replace(pattern, 'Other')
adult_org[adult_org['workclass'].str.match(pattern)]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hoursperweek,native-country,income
26,54,Other,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
60,32,Other,293936,7th-8th,4,Married-spouse-absent,?,Not-in-family,White,Male,0,0,40,?,<=50K
68,25,Other,200681,Some-college,10,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K
76,67,Other,212759,10th,6,Married-civ-spouse,?,Husband,White,Male,0,0,2,United-States,<=50K
105,17,Other,304873,10th,6,Never-married,?,Own-child,White,Female,34095,0,32,United-States,<=50K
127,35,Other,129305,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,40,United-States,<=50K
148,43,Other,174662,Some-college,10,Divorced,?,Not-in-family,White,Female,0,0,40,United-States,<=50K
153,52,Other,252903,HS-grad,9,Divorced,?,Not-in-family,White,Male,0,0,45,United-States,>50K
159,68,Other,38317,1st-4th,2,Divorced,?,Not-in-family,White,Female,0,0,20,United-States,<=50K
186,53,Other,135105,Bachelors,13,Divorced,?,Not-in-family,White,Female,0,0,50,United-States,<=50K
200,19,Other,170653,HS-grad,9,Never-married,?,Own-child,White,Male,0,0,40,Italy,<=50K
220,64,Other,187656,1st-4th,2,Divorced,?,Not-in-family,White,Male,0,0,40,United-States,<=50K
225,60,Other,24215,10th,6,Divorced,?,Not-in-family,Amer-Indian-Eskimo,Female,0,0,10,United-States,<=50K
242,20,Other,119156,Some-college,10,Never-married,?,Own-child,White,Male,0,0,20,United-States,<=50K
265,19,Other,218956,Some-college,10,Never-married,?,Own-child,White,Male,0,0,24,Canada,<=50K
296,39,Other,157443,Masters,14,Married-civ-spouse,?,Wife,Asian-Pac-Islander,Female,3464,0,40,?,<=50K
311,19,Other,860348,Some-college,10,Never-married,?,Own-child,Black,Female,0,0,25,United-States,<=50K
325,23,Other,211601,Assoc-voc,11,Never-married,?,Own-child,Black,Female,0,0,15,United-States,<=50K
345,67,Other,36135,11th,7,Married-civ-spouse,?,Husband,White,Male,0,0,8,United-States,<=50K
346,30,Other,151989,Assoc-voc,11,Divorced,?,Unmarried,White,Female,0,0,40,United-States,<=50K
353,59,Other,372020,Bachelors,13,Married-civ-spouse,?,Husband,White,Male,0,0,40,United-States,>50K
396,20,Other,137300,HS-grad,9,Never-married,?,Other-relative,White,Female,0,0,35,United-States,<=50K
407,28,Other,123147,Some-college,10,Married-civ-spouse,?,Wife,White,Female,0,1887,40,United-States,>50K
429,80,Other,107762,HS-grad,9,Widowed,?,Not-in-family,White,Male,0,0,24,United-States,<=50K
430,17,Other,202521,11th,7,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K
448,17,Other,258872,11th,7,Never-married,?,Own-child,White,Female,0,0,5,United-States,<=50K
458,32,Other,115745,Some-college,10,Married-civ-spouse,?,Husband,White,Male,0,0,40,United-States,<=50K
470,22,Other,139883,Some-college,10,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K
483,52,Other,271749,12th,8,Never-married,?,Other-relative,Black,Male,594,0,40,United-States,<=50K
485,63,Other,401531,1st-4th,2,Married-civ-spouse,?,Husband,White,Male,0,0,35,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15832,41,Other,199018,Some-college,10,Divorced,?,Not-in-family,White,Male,0,1504,40,United-States,<=50K.
15836,42,Other,191149,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,28,United-States,>50K.
15839,72,Other,94268,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,8,United-States,<=50K.
15846,17,Other,246974,12th,8,Never-married,?,Own-child,White,Male,0,0,30,United-States,<=50K.
15851,26,Other,167261,HS-grad,9,Divorced,?,Not-in-family,White,Female,0,0,15,United-States,<=50K.
15856,57,Other,123632,Bachelors,13,Never-married,?,Not-in-family,Black,Female,0,0,35,United-States,<=50K.
15861,39,Other,238721,Bachelors,13,Divorced,?,Own-child,Black,Female,0,0,40,United-States,<=50K.
15864,39,Other,142804,HS-grad,9,Divorced,?,Unmarried,White,Female,0,0,16,United-States,<=50K.
15876,17,Other,54978,7th-8th,4,Never-married,?,Own-child,White,Female,0,0,15,United-States,<=50K.
15879,18,Other,149017,12th,8,Never-married,?,Own-child,White,Male,0,0,10,United-States,<=50K.
15909,41,Other,173651,Assoc-acdm,12,Married-civ-spouse,?,Husband,White,Male,0,0,99,United-States,<=50K.
15912,68,Other,461484,Some-college,10,Married-civ-spouse,?,Husband,White,Male,0,1648,10,United-States,>50K.
15916,24,Other,83783,7th-8th,4,Never-married,?,Not-in-family,White,Female,0,0,25,United-States,<=50K.
15922,19,Other,264767,HS-grad,9,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K.
15924,17,Other,48610,HS-grad,9,Never-married,?,Own-child,White,Male,0,0,14,United-States,<=50K.
15952,58,Other,226078,11th,7,Divorced,?,Unmarried,Black,Female,0,0,32,United-States,<=50K.
15983,18,Other,210652,HS-grad,9,Never-married,?,Own-child,White,Male,0,0,15,United-States,<=50K.
15988,20,Other,38032,HS-grad,9,Never-married,?,Not-in-family,White,Female,0,0,40,United-States,<=50K.
15992,22,Other,216639,Some-college,10,Never-married,?,Not-in-family,White,Female,0,1974,40,United-States,<=50K.
16001,18,Other,20057,Some-college,10,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,16,United-States,<=50K.
16006,76,Other,239900,HS-grad,9,Divorced,?,Not-in-family,White,Female,0,0,3,United-States,<=50K.
16018,21,Other,213366,Some-college,10,Never-married,?,Own-child,White,Female,0,0,38,United-States,<=50K.
16032,56,Other,124319,Masters,14,Married-civ-spouse,?,Husband,White,Male,0,0,40,United-States,>50K.
16035,19,Other,455665,HS-grad,9,Never-married,?,Own-child,White,Male,0,0,44,United-States,<=50K.
16117,21,Other,187937,Some-college,10,Never-married,?,Other-relative,White,Female,0,0,52,United-States,<=50K.
16121,61,Other,265201,Some-college,10,Married-civ-spouse,?,Husband,White,Male,0,0,14,United-States,<=50K.
16208,21,Other,212661,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.
16239,73,Other,144872,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,Canada,<=50K.
16251,81,Other,26711,Assoc-voc,11,Married-civ-spouse,?,Husband,White,Male,2936,0,20,United-States,<=50K.
16277,64,Other,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,<=50K.

In [11]:
# Check variable after Cleaning
adult_org['workclass'].value_counts()

 Private      33906
Government     6548
Self-emp       5557
Other          2830
Name: workclass, dtype: int64

### Education variable

In [12]:
adult_org['education'].value_counts()

 HS-grad         15784
 Some-college    10878
 Bachelors        8024
 Masters          2657
 Assoc-voc        2061
 11th             1812
 Assoc-acdm       1601
 10th             1389
 7th-8th           955
 Prof-school       834
 9th               756
 12th              657
 Doctorate         594
 5th-6th           509
 1st-4th           247
 Preschool          83
Name: education, dtype: int64

##### Post Graduate

In [13]:
pattern = re.compile(r'^.Masters|.Prof-school|.Doctorate*.$')
adult_org[adult_org['education'].str.match(pattern)]
adult_org['education']= adult_org['education'].str.replace(pattern, 'Post-Grad')
adult_org[adult_org['education'].str.match(pattern)]

Empty DataFrame
Columns: [age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hoursperweek, native-country, income]
Index: []

##### Associate

In [14]:
pattern = re.compile(r'^.Assoc+[\-]\w*.$')
adult_org[adult_org['education'].str.match(pattern)]
adult_org['education']= adult_org['education'].str.replace(pattern, 'Associate')
adult_org[adult_org['education'].str.match(pattern)]

Empty DataFrame
Columns: [age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hoursperweek, native-country, income]
Index: []

##### Before High School

In [15]:
pattern = re.compile(r'^.*th|.*Preschool*.$')
adult_org[adult_org['education'].str.match(pattern)]
adult_org['education']= adult_org['education'].str.replace(pattern, 'Before HS')
adult_org[adult_org['education'].str.match(pattern)]

Empty DataFrame
Columns: [age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hoursperweek, native-country, income]
Index: []

In [16]:
 adult_org['education'].value_counts()

 HS-grad         15784
 Some-college    10878
 Bachelors        8024
Before HS         6408
Post-Grad         4085
Associate         3662
Name: education, dtype: int64

### Marital Status variable

In [17]:
adult_org['marital-status'].value_counts()

 Married-civ-spouse       22379
 Never-married            16116
 Divorced                  6633
 Separated                 1530
 Widowed                   1518
 Married-spouse-absent      628
 Married-AF-spouse           37
Name: marital-status, dtype: int64

In [18]:
pattern = re.compile(r'^.Married+[\-]\w+[\-]\w*.$')
adult_org[adult_org['marital-status'].str.match(pattern)]
adult_org['marital-status']= adult_org['marital-status'].str.replace(pattern, 'Married')
adult_org['marital-status'].value_counts()

Married           23044
 Never-married    16116
 Divorced          6633
 Separated         1530
 Widowed           1518
Name: marital-status, dtype: int64

### Relationship variable

In [19]:
adult_org['relationship'].value_counts()

 Husband           19716
 Not-in-family     12582
 Own-child          7581
 Unmarried          5125
 Wife               2331
 Other-relative     1506
Name: relationship, dtype: int64

### Occupation variable

In [20]:
adult_org['occupation'].value_counts()

 Prof-specialty       6172
 Craft-repair         6112
 Exec-managerial      6086
 Adm-clerical         5610
 Sales                5504
 Other-service        4923
 Machine-op-inspct    3022
 ?                    2809
 Transport-moving     2355
 Handlers-cleaners    2072
 Farming-fishing      1490
 Tech-support         1446
 Protective-serv       983
 Priv-house-serv       242
 Armed-Forces           15
Name: occupation, dtype: int64

In [21]:
pattern = re.compile(r'^.+[\?]')
adult_org[adult_org['occupation'].str.match(pattern)]
adult_org['occupation']=adult_org['occupation'].str.replace(pattern, 'Other')
adult_org[adult_org['occupation'].str.match(pattern)]

Empty DataFrame
Columns: [age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hoursperweek, native-country, income]
Index: []

In [22]:
adult_org['occupation'].value_counts()

 Prof-specialty       6172
 Craft-repair         6112
 Exec-managerial      6086
 Adm-clerical         5610
 Sales                5504
 Other-service        4923
 Machine-op-inspct    3022
Other                 2809
 Transport-moving     2355
 Handlers-cleaners    2072
 Farming-fishing      1490
 Tech-support         1446
 Protective-serv       983
 Priv-house-serv       242
 Armed-Forces           15
Name: occupation, dtype: int64

### Race variable

In [23]:
adult_org['race'].value_counts()

 White                 41761
 Black                  4685
 Asian-Pac-Islander     1519
 Amer-Indian-Eskimo      470
 Other                   406
Name: race, dtype: int64

### Sex variable

In [24]:
adult_org['sex'].value_counts()

 Male      32649
 Female    16192
Name: sex, dtype: int64

### Native Country variable

In [25]:
adult_org['native-country'].value_counts()

 United-States                 43831
 Mexico                          951
 ?                               857
 Philippines                     295
 Germany                         206
 Puerto-Rico                     184
 Canada                          182
 El-Salvador                     155
 India                           151
 Cuba                            138
 England                         127
 China                           122
 South                           115
 Jamaica                         106
 Italy                           105
 Dominican-Republic              103
 Japan                            92
 Guatemala                        88
 Poland                           87
 Vietnam                          86
 Columbia                         85
 Haiti                            75
 Portugal                         67
 Taiwan                           65
 Iran                             59
 Greece                           49
 Nicaragua                        49
 Peru                             46
 Ecuador                          45
 France                           38
 Ireland                          37
 Hong                             30
 Thailand                         30
 Cambodia                         28
 Trinadad&Tobago                  27
 Laos                             23
 Outlying-US(Guam-USVI-etc)       23
 Yugoslavia                       23
 Scotland                         21
 Honduras                         20
 Hungary                          19
 Holand-Netherlands                1
Name: native-country, dtype: int64

In [26]:
pattern = re.compile(r'^((?!United-States).)*.$')
adult_org[adult_org["native-country"].str.match(pattern)]
adult_org['native-country'] = adult_org['native-country'].str.replace(pattern,'Non-US')

In [27]:
adult_org['native-country'].value_counts()

 United-States    43831
Non-US             5010
Name: native-country, dtype: int64

### Income variable

In [28]:
adult_org['income'].value_counts()

 <=50K     24719
 <=50K.    12435
 >50K       7841
 >50K.      3846
Name: income, dtype: int64

In [29]:
pattern = re.compile(r'^.<=50K*.$')
adult_org[adult_org['income'].str.match(pattern)]
adult_org['income'] = adult_org['income'].str.replace(pattern,"<=50K")

In [30]:
pattern = re.compile(r'^.>50K*.$')
adult_org[adult_org['income'].str.match(pattern)]
adult_org['income'] = adult_org['income'].str.replace(pattern,">50K")

In [31]:
adult_org['income'].value_counts()

<=50K    37154
>50K     11687
Name: income, dtype: int64

## Triming String in dataset if any

In [32]:
adult_org = adult_org.applymap(lambda x: x.strip() if type(x) is str else x)

In [33]:
# Export cleaned dataset from original data
adult_org.to_csv("cleaned_adult.csv", sep=",", index = False)